* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit", sans-serif;
}
.background {
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 330px;
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 20px;
}
.qr {
  width: 300px;
  margin: 15px;
  border-radius: 10px;
}
 h2 {
  width: 290px;
  font-size: 1.4rem;
  margin: 5px auto;
  text-align: center;
 }
p {
  width: 290px;
  text-align: center;
  margin: 15px auto;
}