* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 55px;
  background-color: rgb(245, 205, 105);
  width: 100%;
}
.logo {
  font-size: 30px;
}
.navlists ul {
  display: flex;
  gap: 5rem;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.container {
  width: 100vw;
  height: fit-content;
  background-color: rgb(243, 225, 181);
}
.first {
  width: 100%;
}
.background-img {
  position: fixed;
}
.second {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box {
  margin: 30px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
}
.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one .product-1 {
  height: 300px;
  width: 270px;
  object-fit: contain;
}
.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two .product-2 {
  height: 300px;
  width: 270px;
  object-fit: contain;
}
.three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.three .product-3{
  height: 300px;
  width: 270px;
  object-fit: contain;
}
.box h2{
  font-size: 20px;
}